version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
    versioning-strategy: widen
    open-pull-requests-limit: 10
    labels:
      - "composer"
      - "dependencies"
    reviewers:
      - "ArthurJCQ"
    groups:
      minor-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
